<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg	 navbar-light bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand font-size text-white">
                <a th:href="@{/main}">MOVIE BELL</a> <span
                    style="color: red; font: bold;">.</span>
            </h1>

            <ul class="navbar-nav">
                <!-- 로그인한 경우 -->
                <li class="nav-item" th:if="${#authentication != null}">
                    <span class="nav-link active text-white">환영합니다, <span th:text="${#authentication.name}"></span>님</span>
                </li>
                <!-- 로그인하지 않은 경우 -->
                <li class="nav-item" th:unless="${#authentication != null}">
                    <button class="nav-link active text-white" id="pills-home-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                            role="tab" aria-controls="pills-home" aria-selected="true"
                            onclick="location.href='/auth/login'">Login</button>
                </li>
                <!-- 로그인하지 않은 경우 -->
                <li class="nav-item" th:unless="${#authentication != null}">
                    <button class="nav-link text-white" id="pills-profile-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false" onclick="location.href='/auth/register'">
                        Register
                    </button>
                </li>
                <!-- 로그인한 경우에만 표시되는 항목 -->
                <li class="nav-item" th:if="${#authentication != null}">
                    <button class="nav-link text-white" id="pills-contact-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-contact"
                            type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">NOW</button>
                </li>
                <!-- 로그인한 경우에만 표시되는 항목 -->
                <li class="nav-item" th:if="${#authentication != null}">
                    <button class="nav-link text-white" id="pills-contact-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-contact"
                            type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">COMMUNITY</button>
                </li>
            </ul>
        </div>
    </nav>
</div>
